# Next.js & Server Authentication (Required)
BETTER_AUTH_SECRET=

# Google OAuth (Required)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Optional Overrides (defaults to ecjc / https://ecjc.${TAILNET_NAME})
# POSTGRES_PASSWORD=ecjc
# BETTER_AUTH_URL=
