# Tailscale Authentication 
TS_AUTHKEY=tskey-auth-xxxxxx
TS_CERT_DOMAIN=your-tailscale-domain.ts.net

# Next.js & Server Configuration
BETTER_AUTH_URL=https://${TS_CERT_DOMAIN}
BETTER_AUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database Password (optional, defaults to ecjc)
POSTGRES_PASSWORD=ecjc
