:80 {
    encode zstd gzip

    # handle preflight cors
    # accept all origins so the preview deployments can also access this
    # also hardcoding the domain cause why not
    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header Access-Control-Allow-Origin "https://codered-snowy.vercel.app"
        header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Private-Network "true"
        header Access-Control-Max-Age "3600"
        respond "" 204
    }

    # Add CORS headers to all other responses
    header Access-Control-Allow-Origin "https://codered-snowy.vercel.app"
    header Access-Control-Allow-Private-Network "true"

    reverse_proxy 127.0.0.1:2567 {
        header_down -Access-Control-Allow-Origin
        header_down Access-Control-Allow-Origin "https://codered-snowy.vercel.app"
        header_down -Access-Control-Allow-Private-Network
        header_down Access-Control-Allow-Private-Network "true"
    }
}
