# https://github.com/johncmanuel/bordle/blob/master/.env.example

# Discord Client ID
VITE_DISCORD_CLIENT_ID=123456789012345678

# Discord Client Secret
CLIENT_SECRET=abcdefghijklmnopqrstuvwxyzabcdef

# Postgres DB Configuration
POSTGRES_DB=bordle_test
POSTGRES_USER=bordle_test_user
POSTGRES_PASSWORD=bordle_test_pass

# Connection String for Postgres for use in dotnet server
ConnectionStrings__DefaultConnection=Host=db;Database=bordle_test;Username=bordle_test_user;Password=bordle_test_pass

# JWT Configuration
Jwt__Secret=super_secret_test_key_for_local_development_only
Jwt__Issuer=bordle
Jwt__Audience=bordle
